html{
  height: 100%;
}
body{
  min-height: 100%;
  background-color: #FDFDFD;
  padding: 0;
  margin: 0;
  font-family: 'PingFang SC','SF Pro Display','Microsoft YaHei',Roboto,Noto,Arial,sans-serif;
  background-image: url('./images/bgall.png');
  display: flex;
  flex-direction: column;
}
.banner{
  overflow: hidden;
  background-color: #FFF;
  height: 44px;
}
.banner #logo-area{
  text-align: center;
}
.banner .text{
  margin-top: 12px;
  padding: 0 10px;
  font-size: 14px;
}
.container{
  width: 1436px;
  margin: 10px auto 0;
  background-image: url('./images/csdnbg.png');
  flex: 1 0 auto;
}
.real{
  width: 772px;
  height: 750px;
  margin-left: 332px;
  padding-top: 130px;
}
.titleipt{
  width: 300px;
  font-size: 14px;
  line-height: 16px;
  padding: 4px 8px;
  margin: 20px 0 10px;
}
.searchbtn, .hisbtn, .clsbtn{
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  margin: 0 0 0 20px;
  padding: 6px 0 5px;
  width: 100px;
  text-align: center;
  border: 1px solid #409eff;
  background-color: #409eff;
  color: #FFF;
  cursor: pointer;
}
/* #editor{
} */
.savebtn {
  width: 100px;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #409eff;
  background-color: #409eff;
  color: #FFF;
  font-size: 14px;
  line-height: 16px;
  padding: 6px 0 6px;
  cursor: pointer;
  float: right;
}
.tipinfo{
  width: 300px;
  border: #409eff;
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -150px;
  background-color: #EEE;
  z-index: 502;
  text-align: center;
  padding: 10px 0;
  border-radius: 4px;
}
.showtip{
  display: block;
  animation: showalow 0.2s;
}
/* 淡出时短暂样式 */
.fadeout {
  opacity:0;
  animation: hidealow 0.2s;
}
.hidetip{
  display: none;
}
.red{
  color: #f56c6c;
  background-color: #fef0f0;
  border: 1px solid #fbc4c4;
}
.green{
  color: #67c23a;
  background-color: #f0f9eb;
  border: 1px solid #c2e7b0;
}
.hismodel{
  width: 640px;
  margin: 0 auto;
  position: absolute;
  top: 200px;
  margin-left: 40px;
  z-index: 502;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba( 0, 0, 0, 0.3);
  padding: 0px 15px 10px;
  display: none;
}
.showmdl{
  display: block;
  animation: showalow 0.2s;
}
#mdtitle{
  font-size: 16px;
  text-align: center;
  padding: 10px 0;
  border-bottom: 1px solid #ebeef5;
  margin: 0 -15px 10px;
  color: #303133;
}
.hismodel table{
  border: 1px solid #ebeef5;
  color: #606266;
  font-size: 12px;
  border-bottom: 0px;
}
.histips{
  display: inline-block;
  font-size: 12px;
  color: #666;
  margin-top: 20px;
}
.clsbtn{
  margin-top: 10px;
  float: right;
  
}
.hismodel tr td:nth-child(1){
  display: inline-block;
  height: 50px;
  width: 450px;
  overflow: auto;
  border-bottom: 1px solid #ebeef5;
  border-right: 1px solid #ebeef5;
}
.hismodel tr td.tdtitle{
  padding-top: 16px;
  padding-left: 10px;
  height: 34px;
  width: 440px;
}
.hismodel tr td:nth-child(2){
  width: 130px;
  border-right: 1px solid #ebeef5;
  border-bottom: 1px solid #ebeef5;
  padding-left: 10px;
}
.hismodel tr td:nth-child(3){
  width: 36px;
  border-bottom: 1px solid #ebeef5;
  border-left: 0px;
  padding-left: 10px;
  cursor: pointer;
}
.seehis{
  color: #409eff;
}
/* 显示Tips淡入动画 */
@keyframes showalow {
from {
  opacity: 0;
  margin-top: -30px;
}
to {
  opacity:1;
  margin-top: 0;
}
}

/* 隐藏TIps淡出动画 */
@keyframes hidealow {
  from {
    opacity: 1;
    margin-top: 0;
  }
  to {
    opacity:0;
    margin-top: -30px;
  }
}
@media screen and (max-width: 1130px) {
  .banner{
    display: none;
  }
  .hisbtn{
    display: none;
  }
  .container{
    /* margin-left: -300px; */
    width: 100%;
    background: #FFF;
    margin-top: 0;
  }
  .container .real{
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0 10px 10px;
  }
}
@media screen and (max-width: 470px) {
  .top{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0;
  }
  .titleipt{
    margin: 0;
  }
}